@import "../partials/variables";
@import "../partials/mixins";

.header{
  background: $color-primary;
  color: #fff;
  height: 56px;

  .logo{
    width: 180px;
    margin-top: 10px;
    h1{
      font-size: 20px;
      margin-left: 7px;
    }
    img, h1{
      @include il-block(middle);
    }
  }

  .logo, .menu{
    @include il-block(top);
  }

}