@import "../partials/variables";

.container{
  width: 1100px;
  margin: 0 auto;
}

.hidden{
  display: none !important;
}

.visible{
  display: block !important;
}

.aligncenter{
  width: auto;
  margin: 0 auto;
  text-align: center;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}