@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@import "partials/reset";
@import "partials/variables";
@import "partials/general";
@import "partials/misc";
@import "partials/form";


@import "modules/header";

body{
  margin-bottom: 50px;
}

body, input, select, label{
  font-family: $font-family;
  font-size: 15px;
  font-weight: 400;
}

.wrapper{
  margin-top: 100px;
}

.video-item{
  height: 240px;
}

a{
  color: #000;
}

@import "responsive/mobile";
